@import url("../vendor/font.css");

.root {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #fff;
  background: #000;
}

.page {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 880px;
}

@media (max-width: 710px) {
  .page {
    padding: 0;
  }
}

.header {
  margin-top: 45px;
}

@media (max-width: 710px) {
  .header {
    margin-top: 28px;
  }
}

.header__logo {
  margin-bottom: 37px;
}

@media (max-width: 710px) {
  .header__logo {
    margin: 0 0 26px 27px;
    width: 104px;
    height: 25px;
  }
}

.header__line {
  border: 1px solid #545454;
  width: 100%;
  opacity: 0.7;
}

/* =========================================================================================== */

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 39px;
  width: 100%;
}

@media (max-width: 710px) {
  .profile {
    display: block;
    margin: 0 auto;
    max-width: 282px;
  }
}

.profile__avatar {
  display: block;
  margin: 0 30px 0 0;
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}

@media (max-width: 710px) {
  .profile__avatar {
    margin: 42px auto 26px;
  }
}

.profile__info {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-grid-columns: 311px 24px;
  grid-template-columns: 311px 24px;
}

@media (max-width: 710px) {
  .profile__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile__name {
  overflow: hidden;
  margin: 0 18px 0 0;
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

@media (max-width: 710px) {
  .profile__name {
    margin-right: 10px;
    padding-left: 28px;
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
  }
}

.profile__post {
  overflow: hidden;
  margin: 7px 0 0;
  max-width: 270px;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

@media (max-width: 710px) {
  .profile__post {
  margin: 8px 0 33px;
  font-size: 14px;
  line-height: 17px;
  }
}

.profile__edit-button {
  margin-top: 14px;
  border: 1px solid #fff;
  padding: 0;
  width: 24px;
  height: 24px;
  background: url(../images/image-edit.svg) no-repeat center;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 710px) {
  .profile__edit-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    width: 18px;
    height: 18px;
  }
}

.profile__add-button {
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 0;
  width: 150px;
  height: 50px;
  background: url(../images/add-image.svg) no-repeat center;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 710px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    background: url(../images/add-image-small.svg) no-repeat center;
  }
}

/* =========================================================================================== */
.elements {
  margin: 51px 0 67px;
}

@media (max-width: 710px) {
  .elements {
    margin: 34px auto 48px;
    width: calc(100% - 19px * 2);
  }
}

.elements__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 919px) {
  .elements__list {
    grid-gap: 60px 80px;
  }
}

@media (max-width: 711px) {
  .elements__list {
    grid-gap: 50px;
  }
}

@media (max-width: 320px) {
  .elements__list {
    row-gap: 20px;
  }
}

.elements__image {
  display: block;
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
  -o-object-fit: cover;
     object-fit: cover;
}

.elements__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 10px 10px;
  padding: 26px 15px 26px 21px;
  max-width: 282px;
  background-color: white;
}

.elements__title {
  overflow: hidden;
  margin: 0;
  width: 80%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: #000;
}

.elements__like {
  margin: 0 5px;
  border: none;
  padding: 0;
  width: 22px;
  height: 19px;
  background: url(../images/elements-like.svg) no-repeat center;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
}

.elements__like:hover {
  opacity: 0.6;
}

.elements__like:active {
  background: url(../images/elements-like-black.svg) no-repeat center;
}
