.root {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #fff;
  background: #000;
}

.page {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 880px;
}

@media (max-width: 710px) {
  .page {
    padding: 0;
  }
}

.header {
  margin-top: 45px;
}

@media (max-width: 710px) {
  .header {
    margin-top: 28px;
  }
}

.header__logo {
  margin-bottom: 37px;
}

@media (max-width: 710px) {
  .header__logo {
    margin: 0 0 26px 27px;
    width: 104px;
    height: 25px;
  }
}

.header__line {
  border: 1px solid #545454;
  width: 100%;
  opacity: 0.7;
}
