.popup__avatar-container {
  position: relative;
  border-radius: 10px;
  width: 430px;
  height: 272px;
  -webkit-box-shadow: 0 0 25px rgb(0 0 0 / 15%);
          box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  background-color: #fff;
}

@media (max-width: 710px) {
  .popup__avatar-container {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 620px) {
  .popup__avatar-container {
    width: 390px;
  }
}

@media (max-width: 470px) {
  .popup__avatar-container {
    width: 320px;
  }
}

@media (max-width: 370px) {
  .popup__avatar-container {
    width: 300px;
  }
}
